.logo{
    margin-top: 10px !important;
    width: 100px;
    margin: auto;
}
ion-content{
    --ion-background-color:black;
}
ion-item{
   --color: white;
   border-right: 4px solid #f99a04;
   margin-top: 5px !important;
}
ion-img{
    margin-bottom: 20px !important;
}
.item-md {
    background: transparent;
  }
