<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 style="color: white;
    text-align: center;
    font-family: Georama, sans-serif;">
    Find Us
  </h5>
  <hr style="background-color: white; height: 3px; border: 0; width: 7%; border-radius: 20px; ">
  <ion-row>
    <ion-col size="2">
      <ion-icon name="compass-outline" style="font-size: 40px; margin-left: 15px;color:white;margin-top: 10px"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <h5 style="color: white;font-size: 15px;font-family: Georama, sans-serif;">
        S-2211, 2nd Floor, Block-B, Ardente Office One, Hoodi, Bengaluru, Karnataka 560048
      </h5>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2">
      <ion-icon name="mail-unread-outline" style="font-size: 40px; margin-left: 15px;color:white;margin-top: 10px"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <h5 style="color: white;font-size: 15px;font-family: Georama, sans-serif;">
        info@gsstech.in
      </h5>
    </ion-col>
  </ion-row>

  <h5 style="color: white;
    text-align: center;
    font-family: Georama, sans-serif;">
    Follow Us
  </h5>
  <hr style="background-color: white; height: 3px; border: 0; width: 10%; border-radius: 20px; ">
  <div style="text-align: center">
    <ion-icon style="color: white;font-size: 40px;margin-right: 15px;" name="logo-facebook"></ion-icon>
    <ion-icon style="color: white;font-size: 40px" name="logo-linkedin"></ion-icon>
  </div>

</ion-content>
