<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-container">
    <ion-img class='logo' collection-repeat="category in categories" src="https://cdni.iconscout.com/illustration/premium/thumb/positive-review-by-giving-5-star-2079174-1752908.png"></ion-img>
  </div>
  <div>
    <h1 class="title">GSS</h1>
    <h5 class="header-text">where you transform your innovative ideas into a successful product...</h5>
  </div>


  <div>
    <h3 style="text-align: center;
    margin-top: 170px;
    font-weight: bold;
    font-family: 'Georama', sans-serif;">
      Our Services
    </h3>
    <hr style="background-color: black; height: 3px; border: 0; width: 10%; border-radius: 20px; ">
    <ion-row>
      <ion-col size="6">
        <ion-card style="background: #fdd835c2">
          <ion-card-header class="cardheader">
            <ion-img class='logo' collection-repeat="category in categories" src="https://www.pngmart.com/files/8/Plan-Transparent-PNG.png"></ion-img>
          </ion-card-header>
          <ion-row class="cardfooter" style="background: white">
            <ion-col>
              <p class="para">Strategy</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card style="background:#81c784">
          <ion-card-header class="cardheader">
            <ion-img class='logo' style="width: 109px; margin: 0 auto;" collection-repeat="category in categories" src="https://www.transparentpng.com/thumb/light-bulb/ulA8ip-light-bulb-clipart-hd.png"></ion-img>
          </ion-card-header>
          <ion-row class="cardfooter" style="background: white">
            <ion-col>
              <p class="para" style="color: #455a64 !important">Design</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="6">
        <ion-card style="background:#ffab91">
          <ion-card-header class="cardheader">
            <ion-img class='logo' collection-repeat="category in categories" src="https://freepngimg.com/thumb/technology/32333-4-technology-transparent.png"></ion-img>
          </ion-card-header>
          <ion-row class="cardfooter" style="background: white">
            <ion-col>
              <p class="para" style="color:#2a5f8d !important">Technology</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card style="background:#000000e8">
          <ion-card-header class="cardheader">
            <ion-img class='logo' style=" width: 104px; margin: 0 auto;" collection-repeat="category in categories" src="https://www.freeiconspng.com/uploads/growth-arrow-icon-arrow-chart-growth-progress-11.png"></ion-img>
          </ion-card-header>
          <ion-row class="cardfooter" style="background: white">
            <ion-col>
              <p class="para" style="color: black !important">Growth</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


  <div>
    <h3 style="text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Georama', sans-serif;">
      Our Partners
    </h3>
    <hr style="background-color: black; height: 3px; border: 0; width: 10%; border-radius: 20px; ">
    <ion-col>
      <ion-card style="background: #fdd835c2">
        <ion-card-header class="cardheader">
          <ion-img class='logo' style="width: 220px; margin: 0 auto;" collection-repeat="category in categories" src="https://themodernmilkman.co.uk/img/images/MM%20Logo.svg"></ion-img>
        </ion-card-header>

      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="background:#81c784">
        <ion-card-header class="cardheader">
          <ion-img class='logo' style="width: 220px; margin: 0 auto;" collection-repeat="category in categories" src="https://static.wixstatic.com/media/f704d6_350f716e36214cfbbd373ea94106f345~mv2.png/v1/fill/w_189,h_61,al_c,q_85,usm_0.66_1.00_0.01/PL-new-logo.webp"></ion-img>
        </ion-card-header>
      </ion-card>
    </ion-col>


    <ion-col size="6">
      <ion-card style="background:#ffab91">
        <ion-card-header class="cardheader">
          <ion-img class='logo' style="width: 150px; margin: 0 auto;" collection-repeat="category in categories" src="https://cdn-cejmc.nitrocdn.com/EFLBxSARsjOhjzEndEsijtmONgYAeirK/assets/static/optimized/rev-3d597d6/wp-content/uploads/2020/12/AirMarketing_Logo-1.svg"></ion-img>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card style="background:#000000e8">
        <ion-card-header class="cardheader">
          <ion-img class='logo' style=" width: 104px; margin: 0 auto;" collection-repeat="category in categories" src="https://cdn-cnioe.nitrocdn.com/ufvHZPaJVXCHskAJwXSzkWwKvAmQMRkl/assets/static/optimized/rev-4d8e68b/wp-content/uploads/2017/08/fmg_logo_new.png"></ion-img>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="background: #0f0f0fba;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    font-family: 'Georama', sans-serif;">
    Copyright © 2021, All Right Reserved GSS
  </div>
</ion-content>



